@{
    ViewData["Title"] = "SubReddit Picture Viewer";
}

<div class="text-center">
    <h1 class="display-4">Welcome to electron_reddit</h1>

</div>

<h3 id="header"></h3>
<button id="cmdShowData">Show Data</button>

<script>
    (function () {

        const { ipcRenderer } = require("electron");

        document.getElementById("cmdShowData").addEventListener("click", () => { 
            ipcRenderer.send("getData", 'args'); 
        }); 

        
        ipcRenderer.on('sendData', (event, msg) => {
            document.getElementById("header").innerHTML = "";
            var posts = msg;

            console.log(posts);

            for (var i = 0; i < posts.length; i++) {

                var p = posts[i];
                var generatedHtml = "<img src="+ p + " class='img-fluid' alt='Responsive image'></br>";
                document.getElementById("header").innerHTML += generatedHtml;

            };
        });

     
    }());
</script>

